{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "rules": {
    "alpha-value-notation": "number",
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": null,
    "selector-id-pattern": null
  }
}
