.list {
  padding: 0;
  margin: 0 auto;
  list-style: none;

  @media (--tablet) {
    width: 748px;
  }
  @media (--desktop) {
    width: 1024px;
  }
}

.list > li > a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 28px;
  padding: 15px 0;

  @media (--tablet) {
    justify-content: center;
    flex-wrap: nowrap;
    padding: 15px;
  }
}

.list main {
  order: 1;
  width: 100%;
  margin-bottom: 7px;

  @media (--tablet) {
    order: initial;
    width: auto;
    margin-bottom: 0;
    flex-grow: 1;
  }
}

.list .date {
  order: 3;

  @media (--tablet) {
    order: initial;
  }
}

.list .tag {
  justify-content: flex-start;
  order: 2;

  @media (--tablet) {
    justify-content: flex-end;
    order: initial;
  }
}
