.article {
  margin: 0 auto;

  @media (--tablet) {
    width: 700px;
  }

  @media (--desktop) {
    width: 800px;
  }

  & p,
  & h1,
  & h2,
  & ol,
  & ul,
  & header {
    @media (--tablet) {
      padding: 0 60px;
    }

    @media (--desktop) {
      padding: 0 90px;
    }
  }

  & p {
    margin: 25px 0;
    line-height: 30px;
  }

  & p:first-of-type {
    margin-top: 20px;
  }

  & a {
    padding: 2px;
  }

  & h1 {
    margin: 48px 0 25px;
    font-weight: 700;
    font-size: 26px;

    @media (--tablet) {
      font-size: 28px;
    }
  }

  & h2 {
    margin: 32px 0 25px;
    font-weight: 700;
    font-size: 20px;

    @media (--tablet) {
      font-size: 22px;
    }
  }

  & code {
    padding: 2px 8px;
    margin: 0 1px;
    background-color: var(--link-background);
    color: var(--code-color);
    text-shadow: none;
    border: 1px solid rgb(0 0 0 / 0.05);
    border-radius: 0.35rem;

    @media (--tablet) {
      white-space: nowrap;
    }
  }

  & img {
    margin: 50px 0;
  }

  & ul,
  & ol {
    margin: 25px 0;
  }

  & ul {
    list-style-type: '–';
    padding-left: 20px !important;

    @media (--tablet) {
      padding-left: 80px !important;
    }

    @media (--desktop) {
      padding-left: 110px !important;
    }

    & > li {
      &::marker {
        font-weight: 500;
      }

      & + li {
        margin-top: 12px;
      }
    }
  }

  & ol {
    padding-left: 30px !important;

    @media (--tablet) {
      padding-left: 90px !important;
    }

    @media (--desktop) {
      padding-left: 120px !important;
    }
  }

  & li {
    padding-left: 10px;
    margin-bottom: 10px;
  }

  & hr {
    margin: 40px 0;
    border: none;
    position: relative;
    height: 32px;
  }

  & hr::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-size: cover;
    width: 21px;
    height: 24px;
    background-image: url('/icons/paragraph.svg');
  }

  & :global(.youtube) {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    margin: 50px 0;
  }

  & :global(.youtube) iframe,
  & :global(.youtube) embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
}

.article > header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;

  @media (--tablet) {
    margin-top: 40px;
  }
}
