.layout {
  min-width: 320px;
  margin: 25px auto 50px;
  padding: 0 20px;

  @media (--tablet) {
    margin: 50px auto 100px;
    padding: 0;
  }
}

.layout > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  margin: 0 auto;

  & h1 {
    min-height: 150px;

    @media (--tablet) {
      min-height: 200px;
    }
  }

  & h2 a {
    padding: 7px 10px;
    border-radius: 3px;
  }
}
