.layout {
  margin: 50px auto 100px;
}

.layout > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  margin: 0 auto;

  & h1 {
    min-height: 200px;
  }

  & h2 a {
    padding: 7px 10px;
    border-radius: 3px;
  }

  & h2 a:hover {
    background-color: var(--linkBackground);
    text-decoration: none;
  }
}
