.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  font-size: 24px;

  & > a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: opacity 200ms;

    &::after {
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    & > svg {
      width: 1.08em;

      &.github {
        width: 1.15em;
      }
    }
  }
}
