html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

@media (--tablet) {
  a {
    display: inline-block;
    line-height: 21px;
    position: relative;
  }

  a::after {
    content: '';
    z-index: -1;
    width: calc(100% + 2px);
    height: calc(100% + 4px);
    position: absolute;
    left: -1px;
    top: -2px;
    background-color: var(--linkBackground);
    border-radius: 3px;
    opacity: 0;
  }

  a:hover::after {
    opacity: 1;
  }
}

img {
  max-width: 100%;
  display: block;
}
